<nav class="navbar navbar-expand-lg navbar-sticky">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" routerLink="/">
      <img src="assets/farmer.png" height="36" alt="" class="me-2" />
      <span style="font-weight:700; color:var(--green-1)">AgroSmart</span>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navMenu">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navMenu">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-lg-center">
        <li class="nav-item"><a class="nav-link" routerLink="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/features">Features</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/about">About Us</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/contact">Contact Us</a></li>
        <li class="nav-item ms-lg-3"><a class="btn btn-outline-custom btn-sm" routerLink="/login">Login</a></li>
        <li class="nav-item ms-2 d-none d-lg-block"><a class="btn btn-primary-custom btn-sm" routerLink="/signup">Sign Up</a></li>
      </ul>
    </div>
  </div>
</nav>
